*{
  margin: 0;
  padding: 0;
}

body{
  background: #333333;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablero{
  width: 600px;
  height: 560px;
  display: flex;
  flex-direction: column;
}