*{
  margin: 0;
  padding: 0;
}

.game{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 70%;
}

.tablero{
  width: 100%;
  height: 99vH;
  display: flex;
  flex-direction: column;
}