*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.gameInfo{
  display: flex;
  justify-content: space-between;
}